repos:
  - repo: local
    hooks:
      - id: cargo-fmt-check
        name: Run cargo fmt
        entry: cargo fmt -- --check
        language: system
        pass_filenames: false

      - id: cargo-clippy-check
        name: Run cargo clippy
        entry: cargo clippy
        language: system
        pass_filenames: false

      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'trufflehog git file://. --since-commit HEAD --results=verified,unknown --fail'
        language: system
        stages: ["pre-commit", "pre-push"]